@media only screen and (max-width: 880px) {
    .login-page {
        display: grid;
    }
}

@media only screen and (max-width: 460px) {
    .login-info {
        width: auto;
        padding: 10px;
    }
}